[Desktop Entry]
Version=1.0
Name=Unilateral Torque Control mock
Comment=Tests the performance of the unilateral torque based control system.
Exec=unilateral_mock
Path=${PWD}/build/AppDir/usr/bin/
Icon=logo
Terminal=true
Type=Application
Categories=Utility;Development;
